<%= render 'hunts/scripts' %>

<div class="jumbotron">
	<div class = "container">
		<div class = "row">
			<div class = "col-md-5 col-md-offset-1">
				<h1> huntee </h1>
				<h4> Hunting for treasures. </h4>
			</div>
		</div>
	</div>
</div>
<div class = "container">
	<div class = "row">
		<div class = "col-md-10 col-md-offset-1">
			<div style='width: auto;'>
			  	<div id="map" style='width: auto; height: 400px;'></div>
			</div>
		</div>
	</div>
</div>

<%= render 'hunts/map' %>